
.contact-section{
    text-align: center;
    background:linear-gradient(rgba(60, 84, 153, 0.9),rgba(60, 84, 153, 0.9)),url(../css/img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contact-section h2::after{
    background:#273a71;
}
.contact-section .little-description{
    color:#fff;
}
.contact-section form{
    margin-top: 5rem;
    width:70%;
    margin-left: 15%;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
   background:#273a71;
   border: .1rem solid 273a71;
   width:100%;
   padding:1.5rem;
   border-radius: 0.5rem;
   font-size: 1.8rem;
   margin:.5rem 0;
}
.btn-submit{
    border:0;
    border-bottom:.3rem solid #299ec5;
    background:#30bae7;
}

.contact-section form ::placeholder {
    color:#fff;
    opacity: 1;
}
.btn-submit:hover{
    cursor: pointer;
}